@font-face {
  font-family: "font_family"; /* Project id 2247342 */
  src: url('iconfont.woff2?t=1651749927111') format('woff2'),
       url('iconfont.woff?t=1651749927111') format('woff'),
       url('iconfont.ttf?t=1651749927111') format('truetype');
}

.font_family {
  font-family: "font_family" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxitishi:before {
  content: "\e654";
}

.icon-gongjitishi:before {
  content: "\e653";
}

.icon-wuxiaoxi:before {
  content: "\e650";
}

.icon-weizhuce:before {
  content: "\e640";
}

.icon-yizhuce:before {
  content: "\e641";
}

.icon-tishi:before {
  content: "\e63f";
}

.icon-quxiao:before {
  content: "\e637";
}

.icon-baocun:before {
  content: "\e636";
}

.icon-xiugai:before {
  content: "\e635";
}

.icon-shanchu:before {
  content: "\e634";
}

.icon-xiazai:before {
  content: "\e633";
}

.icon-anquancelve:before {
  content: "\e623";
}

.icon-baobiaotongji:before {
  content: "\e624";
}

.icon-chaxun:before {
  content: "\e625";
}

.icon-caozuorizhi:before {
  content: "\e626";
}

.icon-shebeiguanli:before {
  content: "\e627";
}

.icon-liuliangcaiji:before {
  content: "\e628";
}

.icon-shezhi:before {
  content: "\e629";
}

.icon-shijianxinxi:before {
  content: "\e62a";
}

.icon-shouqi:before {
  content: "\e62b";
}

.icon-yonghu:before {
  content: "\e62c";
}

.icon-xitongzhuangtai:before {
  content: "\e62d";
}

.icon-yonghuxinxi:before {
  content: "\e62e";
}

.icon-yonghuguanli:before {
  content: "\e62f";
}

.icon-zhankai:before {
  content: "\e630";
}

.icon-gongkongshenji:before {
  content: "\e631";
}

.icon-zhongzhi:before {
  content: "\e632";
}

